* {
    -black: #000000;
    -teal5: #004c4c;
    -teal4: #006666;
    -teal3: #008080;
    -teal2: #66b2b2;
    -teal1: #b2d8d8;
    -white: #ffffff;
}

.debug {
    -fx-border-color: green;
    -fx-background-color: rgb(0, 100, 0, 0.1);
}